<footer>
  <hr class="inv-footer__divider">

  <div class="d-md-flex justify-content-between pb-2">
    <p class="py-2">Copyright © 1999-{{ site.currentYear }} Innovatools, Inc. All Rights Reserved.</p>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/company/privacy/">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/company/legal/">Legal Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/company/sitemap/">Site Map</a>
      </li>
    </ul>
  </div>
</footer>