<div class="inv-header-body">
    <div class="container inv-container inv-header-container">
        <header class="pt-3 pb-4">
            <img src="https://innovatools.b-cdn.net/images/branding/logo/innovatools-logo.png">
        </header>
    </div>
</div>

