---
layout: layouts/page-left-sidebar.njk
---

{% from "blocks/pages.njk" import screenshotBlock with context %}

{{ content | safe }}

<ul class="list-unstyled">
  {% for screenshot in products[product].screenshots %}
    {{ screenshotBlock(screenshot) }}
  {% endfor %}
</ul>
