---
layout: layouts/page-left-sidebar.njk
---

{% from "blocks/pages.njk" import testimonialBlock with context %}

{{ content | safe }}

<ul class="inv-list">
  {% for testimonial in products[product].testimonials %}
    {{ testimonialBlock(testimonial) }}
  {% endfor %}
</ul>
