{# Display a sidebar menu item #}
{% macro sidebarMenuItem(link, pageUrl, type, title) %}
  <a href="{{ link }}" class="list-group-item list-group-item-action {{ " active" if link == pageUrl }} inv-section-menu__item inv-section-menu__item-{{ type }}">
    {{ title }}
  </a>
{% endmacro %}

{% macro screenshotBlock(image, alt) %}
<li class="row mb-5">
  <div class="col-3">
    {% if image %}
      <a href="{{ site.imagesUrl }}{{ image }}" target="_blank">
        <img class="img-fluid" src="{{ site.imagesUrl }}{{ image }}" title="Click to see full image" alt="{{ alt }}" />
      </a>
    {% endif %}
  </div>
  <div class="col-9">
    {{ caller() | safe }}
  </div>
</li>
{% endmacro %}

{% macro testimonialBlock(testimonial) %}
  <li class="inv-list-item">
    {# Testimonial title #}
    {% if testimonial.title %}
      <h2 class="h4">{{ testimonial.title }}</h2>
    {% endif %}

    {# Testimonial (block)quote #}
    {% if testimonial.quote %}
      <blockquote class="blockquote font-weight-light font-italic">
        <p>"{{ testimonial.quote | safe }}"</p>
      </blockquote>
    {% endif %}

    {# Testimonial more link #}
    {% if testimonial.moreUrl %}
      <p>
        <a href="{{ testimonial.moreUrl }}">Read More</a>
      </p>
    {% endif %}
  </li>
{% endmacro %}