body {
  background: url('https://innovatools.b-cdn.net/images/theme/main-background.png');
}

.inv-header-body {
    background: url('https://innovatools.b-cdn.net/images/theme/header-background.png');
}



.inv-container {
  /* box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
  clip-path: inset(0px -15px 0px -15px);
}

.inv-header-container {
    background: #2d4f6f;
    background: linear-gradient(to bottom, #2d4f6f 0%,#376088 100%);
}

.inv-main-container {
    background: #fff;
}


.inv-footer__divider {
  background: #eee;
  height: 0.5rem;
  margin-bottom: 0.5rem;
}